snippet iduration
	import scala.concurrent.duration._

snippet iconcurrent
	import scala.concurrent.${1:import}
snippet icollection
	import scala.collection.${1:import}
snippet imutable
	import scala.collection.mutable
snippet once
	context.system.scheduler.scheduleOnce(${1:time}, ${2:self}, ${3:message})
